*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  display: block;
  color: black;
  font-size: 3rem;
  width: 70%;
}

a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  border: 1px solid black;
  background-color: #b7cbff;
  padding: 1vh;
  height: 9%;
}
a.acti {
  border-width: 1px 0px;
  background-color: #de95ff;
}

.botoom-item {
  border: 1px solid black;
}

.botoom-item {
  widows: 100%;
  height: 37%;
}

.wrapper, .content-wrap, .header {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  width: 1000px;
  height: 80vh;
  margin: auto;
  margin-top: 40px;
}

.content-wrap {
  width: 100%;
  height: 85%;
  border: 1px solid black;
  margin-top: auto;
  margin-bottom: 0;
}

.header {
  display: block;
  width: 100%;
  height: 15%;
}
.header img {
  height: 70px;
  width: 30%;
}

.nav {
  display: block;
  width: 30%;
  height: 100%;
  background-color: #b7cbff;
}

.main {
  padding: 50px;
  display: block;
  width: 70%;
  height: 100%;
  background-color: #de95ff;
}
